h1{
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 40px;
    margin-left: 10%;
    margin-top: -50px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

li  {
    list-style: none;
    float: right;
    margin-top: -20px;
}

ul{
    margin-right: 10%;
}

button{
    background-color: white;
    outline: none;
    border: none;
    font-size: 1em;
    color: black;
    padding-left: 19px;
    padding-right: 19px;
}

body    {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/concrete-texture.png");
}

header{
    background-color: white;
    margin-top: 0px;
    padding: 50px;
}

#portfolio{
    border-left: 1px solid black;
    border-right: 1px solid black;
}